# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.88
RewriteEngine On
RewriteCompatibility2 On
RepeatLimit 200
RewriteBase
# Redirects
# Home Page

RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteRule ^(.*)$ http://www.pmpmgdev1.com$1 [L,R=301]
#CFIDE folder for all


RewriteRule ^index\.(cfm|htm|html) / [R=301,L]
RewriteRule ^(.*)/index\.(cfm|htm|html) /$1 [R=301,L]
RewriteRule //$ / [R=301,I,U,NC]
#RewriteRule ^/(.*).html$ /$1.cfm [NC]

